# Admin Credentials
ADMIN_USERNAME=kundamasuka5@gmail.com
ADMIN_PASSWORD=Bullseyeproject2026
SESSION_SECRET=1234567890

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=bullseyezm
CLOUDINARY_API_KEY=833453692335634
CLOUDINARY_API_SECRET=7ySsFFXP3vFea6e0JSxAvabXJxE
